<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="1000" debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</layout>
	</appender>
	
	<!--  
	<appender name="RWI" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/logs/rwi.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:/logs/rwi.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<logger name="heracles.data.datasource.interceptor.AnnotationReadWriteDataSourceInterceptor" additivity="false">
		<level value="error" />
		<appender-ref ref="RWI" />
	</logger>
	
	<appender name="RI" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/logs/ri.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:/logs/ri.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<logger name="heracles.data.datasource.interceptor.RepositoryShardingDataSourceInterceptor" additivity="false">
		<level value="error" />
		<appender-ref ref="RI" />
	</logger>
	
	<appender name="TI" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/logs/ti.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:/logs/ti.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<logger name="heracles.data.datasource.interceptor.TableShardingDataSourceInterceptor" additivity="false">
		<level value="error" />
		<appender-ref ref="TI" />
	</logger>
	
	<appender name="SP" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/logs/sp.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:/logs/sp.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<logger name="heracles.data.mybatis.plugin.ShardingPlugin" additivity="false">
		<level value="error" />
		<appender-ref ref="SP" />
	</logger>
	-->
	
	<!--  
	<appender name="MercuryTraceFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/trace/logs/trace-log.out</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/trace/logs/trace-log-%d{yyyy-MM-dd}.out</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="mercury-trace-logger" additivity="false">
        <level value="info" />
        <appender-ref ref="MercuryTraceFileAppender" />
    </logger>
    -->

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>